.contain{
    width: 100%;
    margin: auto;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 2rem;
    height: 500px;
    position: relative;
}

.slideTitle{
    position: absolute;
    z-index: 99;
    top:35%;
    left:20%;
    font-size: 2rem;
    font-weight: bold;
    color: white;
}
