.park_info {
  display: flex;
  border-bottom: 3px solid #000;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}
.park_info > .link{
  font-size: 1.3rem;
  font-weight: bold;
}
.park_info img {
  width: 150px;
  height: 150px;
}
